<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MIRA - Whiskas Dry Adult Dewasa 7+</title>
    <link rel="stylesheet" href="/admin/css/style.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <%- include('../layout/sidebar.ejs'); -%>
            <%- include('../layout/header.ejs'); -%>

                <!-- Main Content -->
                <main class="main-content">

                </main>
    </div>
    <script src="/admin/js/users/users.js"></script>
</body>

</html>