<header class="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid px-5 mx-5">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img class="logo_nav" src="/images/logo1.png" alt="" />
                </a>

                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse justify-content-center"
                    id="navbarNav"
                >
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">Our Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Foods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact us</a>
                        </li>
                    </ul>
                </div>

                <button
                    class="btn btn-login"
                    onclick="location.href='/auth/login'"
                >
                    Login
                </button>
            </div>
        </nav>
    </div>
</header>
