<header class="header d-flex justify-content-between align-items-center p-3 bg-light shadow-sm">
    <!-- Sidebar Toggle -->
    <button class="btn btn-outline-danger d-flex align-items-center justify-content-center me-3" id="sidebarToggle"
        type="button">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Right: User Info & Dropdown -->
    <div class="infor-header d-flex align-items-center ">
        <div class="text-end me-3">
            <span class="d-block">Hello </span>
            <span class="fw-bold">Phạm Ánh Dương</span>
        </div>
        <div class="dropdown me-2 ">
            <a class="d-flex align-items-center text-decoration-none dropdown-toggle gap-2" href="#" role="button"
                id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="user-avatar bg-primary text-white rounded-circle d-flex justify-content-center align-items-center"
                    style="width:40px; height:40px;">
                    B
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow rounded-3 border-0" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                        <i class="fa-solid fa-users-gear text-primary"></i>
                        Quản lý tài khoản
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>

                <li>
                    <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                        <i class="fa-solid fa-key text-danger"></i>
                        Thay đổi mật khẩu
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>

                <li>
                    <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                        <i class="fa-solid fa-rotate text-purple"></i>
                        Nhật ký hoạt động
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>

                <li>
                    <form method="post" action="/log-out">
                        <button type="submit" class="dropdown-item d-flex align-items-center gap-2 text-warning">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            Đăng xuất
                        </button>
                    </form>
                </li>
            </ul>

        </div>
    </div>
</header>