<header class="header">
    <div class="breadcrumb">
        Chi tiết sản phẩm<br />
        <small style="color: #999">MacBook Pro - 1</small>
    </div>
    <div class="header-actions">
        <div class="notification"></div>
        <div class="user-avatar"></div>
    </div>
    <div>
    </div>
</header>