<nav class="col-md-3 col-lg-2 px-0">
    <div class="sidebar">
        <a class="logo d-flex align-items-center" href="/admin">
            <img src="/admin/images/icon.png" alt="">
            <div class="d-flex justify-content-between align-content-between flex-column">
                <h3 class="mt-4">MIRA</h3>
                <small class="mb-5">Coffee & tea</small>
            </div>
        </a>
        <nav class="sidebar-nav">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#products">
                        <i class="fas fa-utensils"></i>
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#products">
                        <i class="fas fa-box"></i>
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pricing">
                        <i class="fas fa-tag"></i>
                        Pricing
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#calendar">
                        <i class="fas fa-calendar"></i>
                        Calendar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#todo">
                        <i class="fas fa-list"></i>
                        To-Do
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        <i class="fas fa-address-book"></i>
                        Contact
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#invoice">
                        <i class="fas fa-file-invoice"></i>
                        Invoice
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#settings">
                        <i class="fas fa-cog"></i>
                        Settings
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</nav>